    <body>
        <!-- Start of container -->
        <div class="container the-body"> 

           

            {% extends 'base.html' %}

            {% block content %}
            <!-- Main Section Start -->
            
            <main>
                <!-- Start of main body -->
                <div class="row" id="index-feature">

                    <!-- Start of main section -->
                    <div class="col-md-8" id="main-section">
                        <div id="hero-image-div">
                            <img src="https://placehold.it/400X300" alt="main-image">
                        </div>
                    </div> <!-- End of main section/col-md-8 -->

                    <!-- Start of aside section -->
                    <div class="col-md-4 overflow-auto sidebar-right" id="side-section">
                        <div id="newsfeed"><div id="welcome">
                            <h2 id="news-headline">News Feed</h2>
                            <hr style="background-color: white; width: 75%; align: left;"/>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo veritatis tempore eaque veniam harum. Porro omnis et temporibus quas odit ipsa ut eos soluta, distinctio odio animi nisi praesentium minima.</p>
                        </div>
                    </div> <!-- End of side section/col-md-4 -->

                </div> <!-- End of main body/row -->

                <!-- Row 2 Information -->
                <div class="row">
                    <div class="col-md-8" id="lower-news">
                        <div id="welcome">
                            <h2>Welcome to our website!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit reiciendis dolores qui voluptatem ratione temporibus, labore veniam eligendi asperiores quis iure voluptatum fugiat, illo, possimus sint culpa similique saepe assumenda!</p>
                        </div>
                    </div> <!-- End of Row 2, col-md-4 -->
                    <div class="col-md-4" id="main-address">
                        <div id="address">
                            <p>Our Name</p>
                            <p>Street address</p>
                            <p>city, state, ZIP</p>
                            <p>phone</p>
                            <p>fax</p>
                            <p><a href="mailto:ENielson@nzalaw.com">ENielson@nzalaw.com</a></p>
                        </div>
                    </div> <!-- End of Row 2, col-md-4 -->
                </div> <!-- End of Row 2 -->
            </main>
            {% endblock content %}
            <!-- Start of footer -->
            
        </div> <!-- End of Container -->
        
        <script src="" async defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>