{% extends 'base.html %}
{% block content %}

<!-- Needs {% include 'sidebar_left.html' %} -->
                    <!--Need to add a main body-->

                    <div class="row">
                        <div class="col-md-4 sidebar-left" id="news-what">
                            <h2>WHAT WE DO</h2>
                            <hr style="background-color: white; width: 75%; align: left;"/>
                            <ul>
                                <li>
                                    Subrogation
                                </li>
                                <ul>
                                    <li>Property</li>
                                    <li>Workers Compensation</li>
                                </ul>
                            </ul>
                            <ul>
                                <li>
                                    Litigation
                                <ul>
                                    <li>Apellate</li>
                                    <li>Commercial</li>
                                    <li>Defense</li>
                                    <li>Labor/Employment</li>
                                </ul>
                            </ul>
                            <ul>
                                <li>Business</li>
                                <ul>
                                    <li>Brokerage Agreement</li>
                                    <li>Business Formation</li>
                                    <li>Business Related Contracts</li>
                                    <li>Labor/Employment</li>
                                </ul>
                            </ul>
                            <ul>
                                <li>Transportation</li>
                            </ul>

                            <img src="https:/placehold.it/120x62" alt="office chairs">


                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, modi dolor. Nostrum repudiandae temporibus animi dolore, odit culpa laboriosam fugiat placeat numquam explicabo quis enim rem non est eum quia?</p>
                        </div><!--End of col-md-4-->

                        <!-- Main body content -->
                        <div class="col-md-8"> <!-- column 8 for this section -->
                            <div class="text-box"> <!-- Text at top of column, What we do -->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam porro, neque, magnam ratione placeat incidunt architecto nisi iure aperiam tenetur magni. Tempora officia magni perspiciatis voluptate, at porro ducimus maxime?</p>
                            </div>
                            <div class="images-container">
                                <div class="row">
                                    <div class="col-md-6 image-area">
                                        <img src="https://placehold.it/275x62" alt="Subrogation image" />
                                    </div>
                                    <div class="col-md-6 image-area">
                                        <img src="https://placehold.it/275x62" alt="Litigation" />
                                    </div>                                  
                                </div> <!-- End of pictures row 1 -->
                                <div class="row">
                                    <div class="col-md-6 image-area">
                                        <img src="https://placehold.it/275x62" alt="Business" />
                                    </div>
                                    <div class="col-md-6 image-area">
                                        <img src="https://placehold.it/275x62" alt="Transportation" />
                                    </div>                                  
                                </div> <!-- End of pictures row 1 -->
                            </div> <!-- End of images container -->
                        </div> <!-- End of col-md-8 main body content -->
                    </div> <!-- End of Row -->

                    <footer>
                            <div id="bottom-nav">
                                <ul>
                                    <li><a href="./index.html">HOME</a></li>
                                    <li>WHO WE ARE</li>
                                    <li>WHAT WE DO</li>
                                    <li>NEWS & EVENTS</li>
                                    <li>WHERE WE WORK</li>
                                    <li>CONTACT</li>
                                </ul>
                            </div>
                
                            <p class="copyright">&copy;2009 Nielson, Zehe & Antas, P.C // Website Design by One Ten Creative</P>
                
                        </footer>
        
        
        <script src="" async defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>