{% extends 'base.html' %}
{% block content %}
<!-- TODO Needs {% include 'sidebar_left.html' %} -->
    <!-- Main body content -->
    <div class="col-md-8"> <!-- column 8 for this section -->
        <div class="text-box"> <!-- Text at top of column, What we do -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam porro, neque, magnam ratione placeat incidunt architecto nisi iure aperiam tenetur magni. Tempora officia magni perspiciatis voluptate, at porro ducimus maxime?</p>
        </div>
        <div class="images-container">
            <div class="row">
                <div class="col-md-6 image-area">
                    <img src="https://placehold.it/275x62" alt="Welcome image" />
                </div>
                <div class="col-md-6 image-area">
                    <img src="https://placehold.it/275x62" alt="Attorney image" />
                </div>                                  
            </div> <!-- End of pictures row 1 -->
            <div class="row">
                <div class="col-md-6 image-area">
                    <img src="https://placehold.it/275x62" alt="Staff image" />
                </div>
                <div class="col-md-6 image-area">
                    <img src="https://placehold.it/275x62" alt="Transportation image" />
                </div>  
            <div class="row">
                <div class="col-md-6 image-area">
                    <img src="https://placehold.it/275x62" alt="History image"
                </div>
            </div>                                
            </div> <!-- End of pictures row 1 -->
        </div> <!-- End of images container -->
    </div> <!-- End of col-md-8 main body content -->
{% block content %}